### Should the onion still be in business in today's crazy world? 

It seems the world is getting crazier and I can't tell the difference between satirical news sites like the onion and babylon to real news such as the New York Times or CNN.

In [1]:
import os
import pandas as pd

import matplotlib.pyplot as plt

import re
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [2]:
data_path1 = os.path.join(os.path.abspath(".."), "data/", "Sarcasm_Headlines_Dataset.json")
data_path2 = os.path.join(os.path.abspath(".."), "data/", "Sarcasm_Headlines_Dataset_v2.json")

In [3]:
data1 = pd.read_json(data_path1, lines=True)
data2 = pd.read_json(data_path2, lines=True)

In [4]:
#stack on top of each other
df = pd.concat([data1,data2], ignore_index=True)
df.head(10)

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0
5,https://www.huffingtonpost.com/entry/advancing...,advancing the world's women,0
6,https://www.huffingtonpost.com/entry/how-meat-...,the fascinating case for eating lab-grown meat,0
7,https://www.huffingtonpost.com/entry/boxed-col...,"this ceo will send your kids to school, if you...",0
8,https://politics.theonion.com/top-snake-handle...,top snake handler leaves sinking huckabee camp...,1
9,https://www.huffingtonpost.com/entry/fridays-m...,friday's morning email: inside trump's presser...,0

In [5]:
#drop duplicates if any
df = df.drop_duplicates()

In [6]:
#drop article_link column 
df = df.drop(['article_link'], axis = 1)

In [7]:
df

                                                headline  is_sarcastic
0      former versace store clerk sues over secret 'b...             0
1      the 'roseanne' revival catches up to our thorn...             0
2      mom starting to fear son's web series closest ...             1
3      boehner just wants wife to listen, not come up...             1
4      j.k. rowling wishes snape happy birthday in th...             0
...                                                  ...           ...
55206  tyson holds contest to let fans submit new ide...             1
55218  increasingly cocky bernie sanders announces he...             1
55229  cash-strapped zuckerberg forced to sell 11 mil...             1
55253  grocery store bar actually has great little ha...             1
55298  study: 83% of marathon spectators only attend ...             1

[28617 rows x 2 columns]

In [8]:
df.is_sarcastic.value_counts()

0    14984
1    13633
Name: is_sarcastic, dtype: int64

In [9]:
df['word_count'] = df['headline'].str.count(' ') +1

In [10]:
df.word_count.describe()

count    28617.000000
mean        10.052032
std          3.390864
min          2.000000
25%          8.000000
50%         10.000000
75%         12.000000
max        151.000000
Name: word_count, dtype: float64

### Simple Data Cleaning
- Removing headlines that are 3 standard deviations away from the mean
- Remove Punctuation
- Maybe encode any numbers as a special token. 
- Not removing stopwords. I won't be removing stopwards since these are headlines, stopwords may make up the bulk of the headline, and common stopwords may indicate sarcasm or silly titles.

In [11]:
df.word_count.std()

3.390863686386101

In [12]:
## Removing headlines that are 3 standard deviations away from the mean
df = df[df['word_count'] < (df.word_count.mean() + df.word_count.std()*3)]

In [13]:
df.word_count.describe()

count    28515.000000
mean        10.001753
std          3.196977
min          2.000000
25%          8.000000
50%         10.000000
75%         12.000000
max         20.000000
Name: word_count, dtype: float64

In [14]:
#Maybe some general cleaning

def token_cleaning(text):
    
    
    tokens = text.split(" ")
    
    #Lowercasing words
    tokens = [token.lower() for token in tokens]
    
    #Removing Punctuation
    table = str.maketrans('','', string.punctuation)
    tokens = " ".join([token.translate(table) for token in tokens])
    
    ## Encode numbers with digit_token
    tokens = re.sub(r'\d+', "digit_token", str(tokens))
    
    return tokens

In [15]:
df['headline']= df['headline'].apply(token_cleaning)

/var/folders/pc/kwnxtbhs20v9n_j87lbbgmlr0000gn/T/ipykernel_3598/2200812046.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['headline']= df['headline'].apply(token_cleaning)

In [16]:
df

,headline,is_sarcastic,word_count
0,former versace store clerk sues over secret bl...,0,12
1,the roseanne revival catches up to our thorny ...,0,14
2,mom starting to fear sons web series closest t...,1,14
3,boehner just wants wife to listen not come up ...,1,13
4,jk rowling wishes snape happy birthday in the ...,0,11
...,...,...,...
55206,tyson holds contest to let fans submit new ide...,1,14
55218,increasingly cocky bernie sanders announces he...,1,12
55229,cashstrapped zuckerberg forced to sell digit_t...,1,9
55253,grocery store bar actually has great little ha...,1,15
55298,study digit_token of marathon spectators only ...,1,15

In [19]:
#run this to export the clean data
#df.to_csv('data_clean.csv', index=False)